In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
import transaction_demo

In [3]:
seed = 42

### Load transactions

In [4]:
df = pd.read_csv('../data/transactions.csv')
df.head(10)

,Unnamed: 0,trans_id,account_id,date,type,operation,amount,balance,k_symbol,bank,account,mean_income
0,0,695247,2378,1993-01-01,1,2.0,700.0,700.0,NaN,NaN,NaN,[ 11271.53754941]
1,1,695250,2378,1993-01-22,1,2.0,7268.0,7968.0,NaN,NaN,NaN,[ 11271.53754941]
2,2,695266,2378,1993-01-23,1,2.0,14440.0,22408.0,NaN,NaN,NaN,[ 11271.53754941]
3,3,695262,2378,1993-01-24,1,2.0,49752.0,72160.0,NaN,NaN,NaN,[ 11271.53754941]
4,4,695265,2378,1993-01-26,1,2.0,21899.0,94059.0,NaN,NaN,NaN,[ 11271.53754941]
5,5,695560,2378,1993-01-31,0,3.0,34700.0,59453.7,NaN,NaN,NaN,[ 11271.53754941]
6,6,3608592,2378,1993-01-31,1,NaN,94.7,94153.7,2,NaN,NaN,[ 11271.53754941]
7,7,695272,2378,1993-02-05,1,2.0,30192.0,89645.7,NaN,NaN,NaN,[ 11271.53754941]
8,8,695340,2378,1993-02-07,0,0.0,9612.0,80033.7,4,EF,1222903.0,[ 11271.53754941]
9,9,695270,2378,1993-02-11,1,2.0,31038.0,111071.7,NaN,NaN,NaN,[ 11271.53754941]

### Clean the dataset

* Leave target columns only (date, operation and amount)
* filter out NaNs
* convert operations to int

In [5]:
df = transaction_demo.clean_dataset(df)
df.head(10)

    account_id        date  operation   amount
0         2378  1993-01-01          2    700.0
1         2378  1993-01-22          2   7268.0
2         2378  1993-01-23          2  14440.0
3         2378  1993-01-24          2  49752.0
4         2378  1993-01-26          2  21899.0
5         2378  1993-01-31          3  34700.0
7         2378  1993-02-05          2  30192.0
8         2378  1993-02-07          0   9612.0
9         2378  1993-02-11          2  31038.0
10        2378  1993-02-11          3  25200.0

Leave transaction only for 1993 year:

In [6]:
df = df[pd.to_datetime(df['date']) < pd.to_datetime('1994-01-01')]

### Segment all transaction by months

We consider each month of an account as a separate segment. All segments are considered the same. It means our generator will generate a monthly snapshot of transactions for some user.

In [7]:
df = transaction_demo.segment_by_month(df)
df.head(10)

    operation   amount  day    segment_id
0           2    700.0    1  2378:1993-01
1           2   7268.0   22  2378:1993-01
2           2  14440.0   23  2378:1993-01
3           2  49752.0   24  2378:1993-01
4           2  21899.0   26  2378:1993-01
5           3  34700.0   31  2378:1993-01
7           2  30192.0    5  2378:1993-02
8           0   9612.0    7  2378:1993-02
9           2  31038.0   11  2378:1993-02
10          3  25200.0   11  2378:1993-02

### Prepare training data

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
transform_pipeline = Pipeline([
    ("vectorizer", transaction_demo.TransactionVectorizer(
        group_column='segment_id',
        value_column='amount',
        dim1_column='operation',
        dim2_column='day',
        dim1_size=5,
        dim2_size=32)),
    ("scale", StandardScaler())
])

In [9]:
df_transformed = transform_pipeline.fit_transform(df)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(df_transformed, test_size=0.3, random_state=seed)

### Train the model

In [11]:
from synthesized.modules.synth import AlphaSynth
from sklearn.metrics import mean_squared_error

# define the estimator. We will use L2 penalty to augment the generalizability of the encoder
alpha = AlphaSynth(n_epochs=100, n_hidden=250, learning_rate=0.01, batch_size=106, 
                 display_step=10, activation_function='relu', verbose=2, min_change = 1e-6, 
                 random_state=seed, clip=True, l2_penalty=1e-5, 
                 early_stopping=True)

# fit
alpha.fit(X_train)

# transform and reconstruct the test images
reconstructed = alpha.feed_forward(X_test)

# get the error:
mse = ((X_test - reconstructed) ** 2).sum(axis=1).sum() / X_test.shape[0]
print("\nTest MSE: %.4f" % mse)

Epoch: 1, cost=0.279351, time=0.2024 (sec)
Epoch: 11, cost=0.035733, time=0.1519 (sec)
Epoch: 21, cost=0.035093, time=0.1681 (sec)
Epoch: 31, cost=0.036756, time=0.1623 (sec)
Epoch: 41, cost=0.027045, time=0.1456 (sec)
Epoch: 51, cost=0.035427, time=0.1758 (sec)
Epoch: 61, cost=0.050448, time=0.1468 (sec)
Epoch: 71, cost=0.031682, time=0.3251 (sec)
Epoch: 81, cost=0.030665, time=0.1614 (sec)
Epoch: 91, cost=0.034699, time=0.1676 (sec)
Optimization complete after 100 epoch(s). Average epoch time: 0.1733 seconds

Test MSE: 8.0422

### Convert generated data to transactions

In [12]:
transform_pipeline.inverse_transform(reconstructed).head(10)

            segment_id  day  operation        amount
0  7781631943097904576    0          1    139.897339
1  7781631943097904576    1          1    119.069122
2  7781631943097904576    2          1    116.029465
3  7781631943097904576    3          1    117.953697
4  7781631943097904576    4          1    139.312607
5  7781631943097904576    0          2    583.938599
6  7781631943097904576    1          2  29051.906250
7  7781631943097904576    2          2    783.110291
8  7781631943097904576    3          2    765.452454
9  7781631943097904576    4          2    747.994690

In [13]:
transform_pipeline.inverse_transform(X_test).head(10)

            segment_id  day  operation   amount
0  5477438150466095981    1          2  26258.0
1  5477438150466095981    3          3   3200.0
2  1013255213884708072    1          1   6550.0
3  1013255213884708072    3          4  16646.0
4  1013255213884708072    3          6  11900.0
5  1013255213884708072    1          9     14.6
6  6567845265428200430    0          2   3016.0
7  7152550698521310708    2          2   8720.0
8  7152550698521310708    4          4  18467.0
9  7152550698521310708    2          7   9100.0

In [14]:
orig = transform_pipeline.inverse_transform(X_test)

In [15]:
synth = transform_pipeline.inverse_transform(reconstructed)

In [16]:
orig = orig.drop(columns=['segment_id'])

In [17]:
synth = synth.drop(columns=['segment_id'])

In [18]:
orig.head(10)

   day  operation   amount
0    1          2  26258.0
1    3          3   3200.0
2    1          1   6550.0
3    3          4  16646.0
4    3          6  11900.0
5    1          9     14.6
6    0          2   3016.0
7    2          2   8720.0
8    4          4  18467.0
9    2          7   9100.0

In [19]:
synth.head(10)

   day  operation        amount
0    0          1    139.897339
1    1          1    119.069122
2    2          1    116.029465
3    3          1    117.953697
4    4          1    139.312607
5    0          2    583.938599
6    1          2  29051.906250
7    2          2    783.110291
8    3          2    765.452454
9    4          2    747.994690

In [20]:
from synthesized.testing.linkage_attack import linkage_attack

In [21]:
len(synth)

92820

In [22]:
len(orig)

6282

In [82]:
attrs = linkage_attack(orig, synth, categ_columns={'operation', 'day'}, t_closeness=0.2, k_distance=0.5)

In [71]:
len(attrs)

789

In [72]:
from synthesized.testing.linkage_attack import t_closeness_check, find_neighbour_distances, find_eq_class, find_eq_class_fuzzy

In [67]:
candidate_attrs = t_closeness_check(orig)

In [52]:
len(candidate_attrs)

8569

In [73]:
attrs

[{'operation': 2},
 {'operation': 3},
 {'operation': 1},
 {'operation': 4},
 {'operation': 6},
 {'operation': 9},
 {'operation': 7},
 {'operation': 8},
 {'operation': 5},
 {'day': 1},
 {'day': 3},
 {'day': 0},
 {'day': 2},
 {'day': 4},
 {'amount': 26258.0},
 {'amount': 8834.0},
 {'amount': 3900.0},
 {'amount': 2700.0},
 {'amount': 13900.0},
 {'amount': 1300.0},
 {'amount': 3456.0},
 {'amount': 8270.0},
 {'amount': 31550.0},
 {'amount': 2000.0},
 {'amount': 7900.0},
 {'amount': 4641.0},
 {'amount': 5800.0},
 {'amount': 7428.999999999999},
 {'amount': 10000.0},
 {'amount': 17980.0},
 {'amount': 8412.0},
 {'amount': 1700.0},
 {'amount': 1040.0},
 {'amount': 20611.0},
 {'amount': 2025.0},
 {'amount': 4736.0},
 {'amount': 6193.0},
 {'amount': 4345.0},
 {'amount': 2100.0},
 {'amount': 8600.0},
 {'amount': 4639.0},
 {'amount': 1200.0},
 {'amount': 3737.0},
 {'amount': 6474.0},
 {'amount': 5700.0},
 {'amount': 4400.0},
 {'amount': 46920.0},
 {'amount': 69144.0},
 {'amount': 538.0},
 {'amount': 16100.0},
 {'amount': 4000.0},
 {'amount': 6934.0},
 {'amount': 2120.0},
 {'amount': 10700.0},
 {'amount': 12951.0},
 {'amount': 12700.0},
 {'amount': 6540.0},
 {'amount': 2694.0},
 {'amount': 1920.0},
 {'amount': 41064.0},
 {'amount': 3599.9999999999995},
 {'amount': 23600.0},
 {'amount': 2600.0},
 {'amount': 31200.0},
 {'amount': 10500.0},
 {'amount': 1726.0000000000002},
 {'amount': 28000.0},
 {'amount': 8800.0},
 {'amount': 2185.0},
 {'amount': 800.0},
 {'amount': 18600.0},
 {'amount': 2250.0},
 {'amount': 10900.0},
 {'amount': 7731.0},
 {'amount': 9368.0},
 {'amount': 19700.0},
 {'amount': 49590.0},
 {'amount': 2200.0},
 {'amount': 4167.0},
 {'amount': 35707.0},
 {'amount': 5563.0},
 {'amount': 3090.0},
 {'amount': 15528.0},
 {'amount': 36399.0},
 {'amount': 33900.0},
 {'amount': 3009.0},
 {'amount': 16105.500000000002},
 {'amount': 41700.0},
 {'amount': 3081.0},
 {'amount': 4297.000000000001},
 {'amount': 9400.0},
 {'amount': 9222.0},
 {'amount': 3184.0},
 {'amount': 35929.0},
 {'amount': 10800.0},
 {'amount': 8740.0},
 {'amount': 6800.000000000001},
 {'amount': 17606.0},
 {'amount': 232.0},
 {'amount': 31557.0},
 {'amount': 15076.0},
 {'amount': 23170.5},
 {'amount': 4236.0},
 {'amount': 1900.0},
 {'amount': 169.0},
 {'amount': 3838.9999999999995},
 {'amount': 10161.0},
 {'amount': 19852.0},
 {'amount': 15574.999999999998},
 {'amount': 11498.0},
 {'amount': 26049.0},
 {'amount': 17120.0},
 {'amount': 20404.0},
 {'amount': 2635.0},
 {'amount': 3089.0},
 {'amount': 3192.0},
 {'amount': 5126.0},
 {'amount': 3007.0},
 {'amount': 308.0},
 {'amount': 261.0},
 {'amount': 5718.0},
 {'amount': 3963.0},
 {'amount': 40379.0},
 {'amount': 6258.0},
 {'amount': 20200.0},
 {'amount': 4208.0},
 {'amount': 23524.0},
 {'amount': 14232.999999999998},
 {'amount': 840.0},
 {'amount': 9541.0},
 {'amount': 26799.999999999996},
 {'amount': 10200.0},
 {'amount': 7300.0},
 {'amount': 15377.0},
 {'amount': 5332.0},
 {'amount': 17428.0},
 {'amount': 29528.0},
 {'amount': 12436.0},
 {'amount': 3292.0},
 {'amount': 3920.0},
 {'amount': 7665.0},
 {'amount': 6207.0},
 {'amount': 3520.0},
 {'amount': 24160.0},
 {'amount': 13000.0},
 {'amount': 2145.0},
 {'amount': 20281.0},
 {'amount': 3240.0},
 {'amount': 3058.0},
 {'amount': 8715.0},
 {'amount': 12074.0},
 {'amount': 2240.0},
 {'amount': 10542.000000000002},
 {'amount': 6520.000000000001},
 {'amount': 5200.0},
 {'amount': 26812.0},
 {'amount': 12644.0},
 {'amount': 8900.0},
 {'amount': 121.0},
 {'amount': 2160.0},
 {'amount': 5277.0},
 {'amount': 4017.0},
 {'amount': 36800.0},
 {'amount': 11245.0},
 {'amount': 2858.0},
 {'amount': 12100.0},
 {'amount': 59100.0},
 {'amount': 5611.000000000001},
 {'amount': 5119.0},
 {'amount': 6900.0},
 {'amount': 29100.0},
 {'amount': 42684.0},
 {'amount': 6059.0},
 {'amount': 26100.0},
 {'amount': 480.0},
 {'amount': 7041.0},
 {'amount': 17833.5},
 {'amount': 15649.0},
 {'amount': 6589.5},
 {'amount': 5009.0},
 {'amount': 24247.999999999996},
 {'amount': 6400.0},
 {'amount': 28361.0},
 {'amount': 6224.0},
 {'amount': 280.0},
 {'amount': 4225.0},
 {'amount': 2613.0},
 {'amount': 6411.0},
 {'amount': 17916.0},
 {'amount': 32826.0},
 {'amount': 18800.0},
 {'amount': 9459.0},
 {'amount': 17308.0},
 {'amount': 2186.0},
 {'amount': 1943.0},
 {'amount': 250.0},
 {'amount': 28364.999999999996},
 {'amount': 37598.0},
 {'amount': 813.0},
 {'amount': 16980.0},
 {'amount': 6105.0},
 {'amount': 1450.0},
 {'amount': 34567.0},
 {'amount': 1800.0},
 {'amount': 18910.0},
 {'amount': 1750.0},
 {'amount': 25970.0},
 {'amount': 4729.0},
 {'amount': 18660.0},
 {'amount': 4807.0},
 {'amount': 20203.0},
 {'amount': 6434.0},
 {'amount': 14192.0},
 {'amount': 10609.0},
 {'amount': 31127.999999999996},
 {'amount': 40525.0},
 {'amount': 4985.0},
 {'amount': 5465.0},
 {'amount': 10400.0},
 {'amount': 5671.0},
 {'amount': 5657.0},
 {'amount': 5774.0},
 {'amount': 19288.0},
 {'amount': 47953.0},
 {'amount': 23156.000000000004},
 {'amount': 19500.0},
 {'amount': 6260.0},
 {'amount': 1622.0},
 {'amount': 22020.0},
 {'amount': 18100.0},
 {'amount': 4579.0},
 {'amount': 43737.0},
 {'amount': 1942.0},
 {'amount': 2260.0},
 {'amount': 4916.0},
 {'amount': 13700.0},
 {'amount': 2548.0},
 {'amount': 1010.0},
 {'amount': 2627.0},
 {'amount': 12299.999999999998},
 {'amount': 12314.0},
 {'amount': 3144.0},
 {'amount': 3151.0},
 {'amount': 11855.0},
 {'amount': 1653.0},
 {'amount': 18300.0},
 {'amount': 33098.0},
 {'amount': 47831.0},
 {'amount': 8540.0},
 {'amount': 21361.999999999996},
 {'amount': 15469.0},
 {'amount': 2631.0},
 {'amount': 13311.0},
 {'amount': 9047.0},
 {'amount': 880.0},
 {'amount': 3046.0},
 {'amount': 49154.0},
 {'amount': 12015.0},
 {'amount': 27916.0},
 {'amount': 6502.0},
 {'amount': 3480.0},
 {'amount': 21431.0},
 {'amount': 15434.0},
 {'amount': 22608.0},
 {'amount': 30299.999999999996},
 {'amount': 13663.0},
 {'amount': 1941.0000000000002},
 {'amount': 11500.0},
 {'amount': 17565.0},
 {'amount': 11889.0},
 {'amount': 2279.0},
 {'amount': 13099.999999999998},
 {'amount': 39800.0},
 {'amount': 58900.0},
 {'amount': 7618.0},
 {'amount': 115.0},
 {'amount': 2081.9999999999995},
 {'amount': 4438.0},
 {'amount': 4160.0},
 {'amount': 19587.0},
 {'amount': 7545.0},
 {'amount': 1469.0},
 {'amount': 2165.0},
 {'amount': 13700.000000000002},
 {'amount': 21038.0},
 {'amount': 5520.0},
 {'amount': 330.0},
 {'amount': 178.0},
 {'amount': 5965.0},
 {'amount': 46312.0},
 {'amount': 5105.0},
 {'amount': 21118.0},
 {'amount': 5880.0},
 {'amount': 7875.0},
 {'amount': 18972.0},
 {'amount': 2316.0},
 {'amount': 3474.0},
 {'amount': 15487.0},
 {'amount': 20782.0},
 {'amount': 25100.0},
 {'amount': 21200.0},
 {'amount': 26497.0},
 {'amount': 46096.0},
 {'amount': 12043.0},
 {'amount': 9808.0},
 {'amount': 6217.0},
 {'amount': 11329.0},
 {'amount': 16623.0},
 {'amount': 188.0},
 {'amount': 148.0},
 {'amount': 44225.0},
 {'amount': 18549.0},
 {'amount': 10979.0},
 {'amount': 20987.0},
 {'amount': 3216.7},
 {'amount': 762.0},
 {'amount': 23728.0},
 {'amount': 3095.0},
 {'amount': 2880.0},
 {'amount': 24226.0},
 {'amount': 695.0},
 {'amount': 22452.0},
 {'amount': 4524.0},
 {'amount': 6310.0},
 {'amount': 12500.0},
 {'amount': 25317.0},
 {'amount': 1440.0},
 {'amount': 8200.0},
 {'amount': 6850.0},
 {'amount': 699.0},
 {'amount': 9900.0},
 {'amount': 49887.0},
 {'amount': 16002.0},
 {'amount': 5265.0},
 {'amount': 3405.0},
 {'amount': 32329.5},
 {'amount': 3098.0},
 {'amount': 21804.0},
 {'amount': 3583.0000000000005},
 {'amount': 6567.0},
 {'amount': 34202.0},
 {'amount': 24999.999999999996},
 {'amount': 1080.0},
 {'amount': 8000.000000000001},
 {'amount': 4316.0},
 {'amount': 3401.0},
 {'amount': 4146.0},
 {'amount': 35456.0},
 {'amount': 12525.0},
 {'amount': 7985.0},
 {'amount': 15800.0},
 {'amount': 5303.0},
 {'amount': 17494.999999999996},
 {'amount': 36353.0},
 {'amount': 5588.0},
 {'amount': 14287.000000000002},
 {'amount': 9410.0},
 {'amount': 22414.499999999996},
 {'amount': 11944.0},
 {'amount': 18704.0},
 {'amount': 5355.0},
 {'amount': 4944.0},
 {'amount': 8499.0},
 {'amount': 8700.000000000002},
 {'amount': 5469.0},
 {'amount': 23311.0},
 {'amount': 3970.0},
 {'amount': 17601.0},
 {'amount': 14569.999999999998},
 {'amount': 463.0},
 {'amount': 16392.0},
 {'amount': 11371.0},
 {'amount': 389.9999999999999},
 {'amount': 8414.000000000002},
 {'amount': 18207.0},
 {'amount': 3940.0},
 {'amount': 7267.999999999999},
 {'amount': 1380.0},
 {'amount': 65613.99999999999},
 {'amount': 32250.0},
 {'amount': 33045.00000000001},
 {'amount': 23381.0},
 {'amount': 1120.0},
 {'amount': 1455.0},
 {'amount': 13881.0},
 {'amount': 12832.499999999998},
 {'amount': 958.0},
 {'amount': 44519.0},
 {'amount': 3276.0},
 {'amount': 4220.0},
 {'amount': 4320.0},
 {'amount': 9189.0},
 {'amount': 19106.0},
 {'amount': 71746.0},
 {'amount': 997.0},
 {'amount': 1405.0},
 {'amount': 5596.0},
 {'amount': 19413.0},
 {'amount': 3747.0},
 {'amount': 21231.000000000004},
 {'amount': 16041.0},
 {'amount': 37514.0},
 {'amount': 3008.0},
 {'amount': 7501.0},
 {'amount': 5908.0},
 {'amount': 21689.0},
 {'amount': 24314.0},
 {'amount': 39258.0},
 {'amount': 33488.0},
 {'amount': 18500.0},
 {'amount': 61800.0},
 {'amount': 23549.0},
 {'amount': 11427.0},
 {'amount': 6248.0},
 {'amount': 4498.0},
 {'amount': 41658.0},
 {'amount': 4636.0},
 {'amount': 21602.0},
 {'amount': 16059.999999999998},
 {'amount': 2390.0},
 {'amount': 806.0},
 {'amount': 4920.0},
 {'amount': 5608.0},
 {'amount': 3416.0},
 {'amount': 810.0},
 {'amount': 7597.0},
 {'amount': 28500.0},
 {'amount': 7951.0},
 {'amount': 7753.5},
 {'amount': 13967.0},
 {'amount': 4694.0},
 {'amount': 3334.0},
 {'amount': 45600.0},
 {'amount': 21052.0},
 {'amount': 6864.0},
 {'amount': 36658.0},
 {'amount': 8228.0},
 {'amount': 7366.0},
 {'amount': 42381.0},
 {'amount': 3114.0},
 {'amount': 29343.0},
 {'amount': 2193.0},
 {'amount': 4700.000000000001},
 {'amount': 20612.0},
 {'amount': 36680.0},
 {'amount': 14399.999999999998},
 {'amount': 24144.0},
 {'amount': 3288.0},
 {'amount': 19039.0},
 {'amount': 15870.0},
 {'amount': 24776.0},
 {'amount': 6158.0},
 {'amount': 186.0},
 {'amount': 12940.0},
 {'amount': 29600.0},
 {'amount': 37800.0},
 {'amount': 22524.0},
 {'amount': 20835.0},
 {'amount': 30312.0},
 {'amount': 3204.0},
 {'amount': 15999.999999999998},
 {'amount': 5893.0},
 {'amount': 17680.0},
 {'amount': 5123.0},
 {'amount': 2118.9999999999995},
 {'amount': 3844.0},
 {'amount': 5040.0},
 {'amount': 20215.0},
 {'amount': 43493.0},
 {'amount': 27078.0},
 {'amount': 2655.0},
 {'amount': 540.0},
 {'amount': 5058.0},
 {'amount': 2554.0},
 {'amount': 18231.0},
 {'amount': 21100.0},
 {'amount': 12640.0},
 {'amount': 5772.0},
 {'amount': 19773.0},
 {'amount': 153.0},
 {'amount': 5987.0},
 {'amount': 19200.0},
 {'amount': 19665.0},
 {'amount': 22635.0},
 {'amount': 2144.0},
 {'amount': 2500.0000000000005},
 {'amount': 3873.0},
 {'amount': 24300.0},
 {'amount': 39387.0},
 {'amount': 22927.5},
 {'amount': 20922.0},
 {'amount': 5492.0},
 {'amount': 26899.999999999996},
 {'amount': 6490.0},
 {'amount': 32603.999999999996},
 {'amount': 9924.0},
 {'amount': 11775.000000000004},
 {'amount': 10533.0},
 {'amount': 11707.0},
 {'amount': 37294.0},
 {'amount': 7281.3},
 {'amount': 7748.0},
 {'amount': 23347.0},
 {'amount': 52400.0},
 {'amount': 45500.0},
 {'amount': 21776.0},
 {'amount': 13352.000000000002},
 {'amount': 1485.0},
 {'amount': 4435.0},
 {'amount': 57100.0},
 {'amount': 9275.0},
 {'operation': 4.0, 'amount': 16646.0},
 {'operation': 5.0, 'amount': 3100.0},
 {'operation': 3.0, 'amount': 3456.0},
 {'operation': 2.0, 'amount': 3136.0},
 {'operation': 2.0, 'amount': 4203.0},
 {'operation': 7.0, 'amount': 2025.0},
 {'operation': 5.0, 'amount': 5700.0},
 {'operation': 2.0, 'amount': 69144.0},
 {'operation': 4.0, 'amount': 34700.0},
 {'operation': 2.0, 'amount': 6934.0},
 {'operation': 2.0, 'amount': 2120.0},
 {'operation': 3.0, 'amount': 12951.0},
 {'operation': 4.0, 'amount': 13499.999999999998},
 {'operation': 8.0, 'amount': 25700.0},
 {'operation': 8.0, 'amount': 3599.9999999999995},
 {'operation': 3.0, 'amount': 6028.0},
 {'operation': 4.0, 'amount': 28000.0},
 {'operation': 2.0, 'amount': 2185.0},
 {'operation': 2.0, 'amount': 1700.0},
 {'operation': 3.0, 'amount': 7731.0},
 {'operation': 4.0, 'amount': 9368.0},
 {'operation': 4.0, 'amount': 5700.0},
 {'operation': 3.0, 'amount': 6345.0},
 {'operation': 4.0, 'amount': 36399.0},
 {'operation': 3.0, 'amount': 2600.0},
 {'operation': 4.0, 'amount': 4300.0},
 {'operation': 7.0, 'amount': 41700.0},
 {'operation': 3.0, 'amount': 5740.0},
 {'operation': 4.0, 'amount': 6446.0},
 {'operation': 3.0, 'amount': 35929.0},
 {'operation': 8.0, 'amount': 10800.0},
 {'operation': 4.0, 'amount': 16576.0},
 {'operation': 2.0, 'amount': 1100.0},
 {'operation': 9.0, 'amount': 300.0},
 {'operation': 2.0, 'amount': 2420.0},
 {'operation': 3.0, 'amount': 4236.0},
 {'operation': 1.0, 'amount': 169.0},
 {'operation': 3.0, 'amount': 10161.0},
 {'operation': 6.0, 'amount': 7099.999999999999},
 {'operation': 1.0, 'amount': 3595.9999999999995},
 {'operation': 3.0, 'amount': 16500.0},
 {'operation': 3.0, 'amount': 5718.0},
 {'operation': 1.0, 'amount': 5332.0},
 {'operation': 4.0, 'amount': 12436.0},
 {'operation': 3.0, 'amount': 6207.0},
 {'operation': 2.0, 'amount': 6387.0},
 {'operation': 3.0, 'amount': 35139.0},
 {'operation': 1.0, 'amount': 2145.0},
 {'operation': 6.0, 'amount': 3240.0},
 {'operation': 3.0, 'amount': 3058.0},
 {'operation': 3.0, 'amount': 11700.0},
 {'operation': 7.0, 'amount': 2300.0},
 {'operation': 4.0, 'amount': 12894.000000000002},
 {'operation': 2.0, 'amount': 2858.0},
 {'operation': 4.0, 'amount': 10200.0},
 {'operation': 1.0, 'amount': 341.0},
 {'operation': 4.0, 'amount': 13900.0},
 {'operation': 3.0, 'amount': 3000.0},
 {'operation': 3.0, 'amount': 7041.0},
 {'operation': 4.0, 'amount': 6589.5},
 {'operation': 2.0, 'amount': 6411.0},
 {'operation': 4.0, 'amount': 17308.0},
 {'operation': 4.0, 'amount': 28364.999999999996},
 {'operation': 6.0, 'amount': 8648.0},
 {'operation': 4.0, 'amount': 16980.0},
 {'operation': 3.0, 'amount': 1750.0},
 {'operation': 3.0, 'amount': 6434.0},
 {'operation': 7.0, 'amount': 31127.999999999996},
 {'operation': 3.0, 'amount': 5657.0},
 {'operation': 2.0, 'amount': 6260.0},
 {'operation': 7.0, 'amount': 3900.0},
 {'operation': 1.0, 'amount': 2260.0},
 {'operation': 2.0, 'amount': 2548.0},
 {'operation': 2.0, 'amount': 2627.0},
 {'operation': 4.0, 'amount': 21361.999999999996},
 {'operation': 2.0, 'amount': 2631.0},
 {'operation': 2.0, 'amount': 900.0},
 {'operation': 1.0, 'amount': 2976.0},
 {'operation': 6.0, 'amount': 14699.999999999998},
 {'operation': 4.0, 'amount': 1550.0},
 {'operation': 3.0, 'amount': 10900.0},
 {'operation': 4.0, 'amount': 3200.0},
 {'operation': 4.0, 'amount': 12644.0},
 {'operation': 8.0, 'amount': 1300.0},
 {'operation': 4.0, 'amount': 25100.0},
 {'operation': 4.0, 'amount': 16700.0},
 {'operation': 3.0, 'amount': 6136.0},
 {'operation': 2.0, 'amount': 2221.0},
 {'operation': 1.0, 'amount': 3987.0},
 {'operation': 9.0, 'amount': 1410.0},
 {'operation': 4.0, 'amount': 8063.0},
 {'operation': 3.0, 'amount': 23000.0},
 {'operation': 3.0, 'amount': 3098.0},
 {'operation': 7.0, 'amount': 7651.0},
 {'operation': 3.0, 'amount': 17494.999999999996},
 {'operation': 4.0, 'amount': 22414.499999999996},
 {'operation': 3.0, 'amount': 5355.0},
 {'operation': 3.0, 'amount': 5469.0},
 {'operation': 4.0, 'amount': 16392.0},
 {'operation': 3.0, 'amount': 10239.0},
 {'operation': 4.0, 'amount': 18207.0},
 {'operation': 2.0, 'amount': 2210.0},
 {'operation': 1.0, 'amount': 2332.0},
 {'operation': 3.0, 'amount': 2880.0},
 {'operation': 3.0, 'amount': 4320.0},
 {'operation': 3.0, 'amount': 2160.0},
 {'operation': 1.0, 'amount': 1405.0},
 {'operation': 3.0, 'amount': 3747.0},
 {'operation': 5.0, 'amount': 34854.0},
 {'operation': 5.0, 'amount': 21689.0},
 {'operation': 3.0, 'amount': 39258.0},
 {'operation': 2.0, 'amount': 33488.0},
 {'operation': 3.0, 'amount': 11427.0},
 {'operation': 3.0, 'amount': 33178.0},
 {'operation': 7.0, 'amount': 4400.0},
 {'operation': 3.0, 'amount': 4636.0},
 {'operation': 7.0, 'amount': 1800.0},
 {'operation': 1.0, 'amount': 2390.0},
 {'operation': 4.0, 'amount': 28496.0},
 {'operation': 4.0, 'amount': 28500.0},
 {'operation': 4.0, 'amount': 1120.0},
 {'operation': 6.0, 'amount': 22800.0},
 {'operation': 3.0, 'amount': 19500.0},
 {'operation': 6.0, 'amount': 16900.0},
 {'operation': 8.0, 'amount': 24500.0},
 {'operation': 2.0, 'amount': 2193.0},
 {'operation': 4.0, 'amount': 20612.0},
 {'operation': 4.0, 'amount': 15000.0},
 {'operation': 2.0, 'amount': 908.0},
 {'operation': 2.0, 'amount': 3288.0},
 {'operation': 1.0, 'amount': 3204.0},
 {'operation': 4.0, 'amount': 5893.0},
 {'operation': 1.0, 'amount': 3168.0},
 {'operation': 2.0, 'amount': 904.0},
 {'operation': 8.0, 'amount': 2286.0},
 {'operation': 2.0, 'amount': 5058.0},
 {'operation': 3.0, 'amount': 8600.0},
 {'operation': 5.0, 'amount': 19200.0},
 {'operation': 3.0, 'amount': 20922.0},
 {'operation': 3.0, 'amount': 1280.0},
 {'operation': 6.0, 'amount': 26899.999999999996},
 {'operation': 5.0, 'amount': 10700.0},
 {'operation': 3.0, 'amount': 45500.0},
 {'operation': 4.0, 'amount': 7300.0},
 {'operation': 2.0, 'amount': 4435.0},
 {'operation': 6.0, 'amount': 57100.0},
 {'day': 3.0, 'amount': 16646.0},
 {'day': 4.0, 'amount': 4519.0},
 {'day': 2.0, 'amount': 8834.0},
 {'day': 2.0, 'amount': 3100.0},
 {'day': 3.0, 'amount': 3456.0},
 {'day': 0.0, 'amount': 7900.0},
 {'day': 0.0, 'amount': 4203.0},
 {'day': 2.0, 'amount': 5700.0},
 {'day': 3.0, 'amount': 69144.0},
 {'day': 4.0, 'amount': 34700.0},
 {'day': 1.0, 'amount': 6934.0},
 {'day': 3.0, 'amount': 2120.0},
 {'day': 3.0, 'amount': 12951.0},
 {'day': 1.0, 'amount': 13499.999999999998},
 {'day': 0.0, 'amount': 25700.0},
 {'day': 3.0, 'amount': 3599.9999999999995},
 {'day': 1.0, 'amount': 28000.0},
 {'day': 1.0, 'amount': 2185.0},
 {'day': 4.0, 'amount': 3360.0},
 {'day': 1.0, 'amount': 7731.0},
 {'day': 1.0, 'amount': 9368.0},
 {'day': 2.0, 'amount': 6345.0},
 {'day': 2.0, 'amount': 36399.0},
 {'day': 2.0, 'amount': 41700.0},
 {'day': 3.0, 'amount': 5740.0},
 {'day': 4.0, 'amount': 4297.000000000001},
 {'day': 2.0, 'amount': 6446.0},
 {'day': 2.0, 'amount': 35929.0},
 {'day': 0.0, 'amount': 2420.0},
 {'day': 1.0, 'amount': 4236.0},
 {'day': 0.0, 'amount': 169.0},
 {'day': 3.0, 'amount': 10161.0},
 {'day': 4.0, 'amount': 3595.9999999999995},
 {'day': 4.0, 'amount': 26049.0},
 {'day': 3.0, 'amount': 3500.0},
 {'day': 4.0, 'amount': 16500.0},
 {'day': 3.0, 'amount': 2569.0},
 {'day': 3.0, 'amount': 5718.0},
 {'day': 0.0, 'amount': 5332.0},
 {'day': 0.0, 'amount': 12436.0},
 {'day': 1.0, 'amount': 6207.0},
 {'day': 3.0, 'amount': 6387.0},
 {'day': 0.0, 'amount': 35139.0},
 {'day': 3.0, 'amount': 2145.0},
 {'day': 4.0, 'amount': 3058.0},
 {'day': 4.0, 'amount': 1530.0},
 {'day': 0.0, 'amount': 2858.0},
 {'day': 2.0, 'amount': 10200.0},
 {'day': 0.0, 'amount': 341.0},
 {'day': 2.0, 'amount': 13900.0},
 {'day': 4.0, 'amount': 29100.0},
 {'day': 1.0, 'amount': 26100.0},
 {'day': 4.0, 'amount': 7041.0},
 {'day': 4.0, 'amount': 1066.0},
 {'day': 1.0, 'amount': 6589.5},
 {'day': 2.0, 'amount': 2000.0},
 {'day': 1.0, 'amount': 6411.0},
 {'day': 1.0, 'amount': 17308.0},
 {'day': 2.0, 'amount': 16980.0},
 {'day': 3.0, 'amount': 4729.0},
 {'day': 2.0, 'amount': 6434.0},
 {'day': 4.0, 'amount': 5657.0},
 {'day': 0.0, 'amount': 6260.0},
 {'day': 1.0, 'amount': 948.0},
 {'day': 2.0, 'amount': 3900.0},
 {'day': 2.0, 'amount': 2260.0},
 {'day': 1.0, 'amount': 2548.0},
 {'day': 1.0, 'amount': 2627.0},
 {'day': 4.0, 'amount': 928.0},
 {'day': 1.0, 'amount': 3240.0},
 {'day': 4.0, 'amount': 2631.0},
 {'day': 4.0, 'amount': 17200.0},
 {'day': 0.0, 'amount': 7300.0},
 {'day': 4.0, 'amount': 2600.0},
 {'day': 1.0, 'amount': 1550.0},
 {'day': 1.0, 'amount': 12644.0},
 {'day': 2.0, 'amount': 19587.0},
 {'day': 4.0, 'amount': 5330.0},
 {'day': 3.0, 'amount': 25100.0},

In [36]:
from pyemd import emd_samples

In [74]:
amount = 31550.0

In [84]:
c1 = find_eq_class(orig, {'operation': 1})
c1

      day  operation   amount
2       1          1   6550.0
15      1          1   1437.0
16      3          1    511.0
27      4          1    502.0
37      3          1     40.0
86      2          1   6741.0
93      4          1   1757.0
138     4          1   4639.0
148     3          1     60.0
177     1          1   5464.0
178     3          1   2261.0
189     1          1   2348.0
211     3          1  13396.0
218     0          1    538.0
219     3          1   2343.0
255     2          1   2694.0
280     1          1   2343.0
289     0          1   8319.0
300     3          1   2757.0
307     0          1     12.0
308     3          1   1726.0
314     0          1    956.0
315     4          1   3419.0
322     1          1   2175.0
369     1          1   1168.0
370     3          1   2374.0
391     2          1   5884.0
396     0          1    956.0
397     4          1   3419.0
435     4          1   4292.0
...   ...        ...      ...
5972    1          1   3223.0
5979    0          1   2648.0
5980    1          1    652.0
5981    2          1   5908.0
6007    0          1   1043.0
6008    1          1   2442.0
6015    1          1   2212.0
6027    0          1    538.0
6028    3          1   2343.0
6041    0          1   2509.0
6042    4          1    406.0
6046    0          1   7266.0
6051    2          1   2260.0
6064    4          1   5517.0
6071    2          1   2798.0
6083    0          1   5361.0
6095    0          1     82.0
6096    1          1   3671.0
6132    1          1   3168.0
6137    0          1   9493.0
6146    3          1   3223.0
6174    4          1   2161.0
6178    4          1   1778.0
6214    3          1   1485.0
6219    2          1   4920.0
6242    1          1   8071.0
6247    1          1   3189.0
6250    0          1   5673.0
6266    0          1    825.0
6274    4          1   6337.0

[445 rows x 3 columns]

In [85]:
down, up = find_neighbour_distances(orig, {'operation': 1}, {'operation', 'day'})
c2 = find_eq_class_fuzzy(synth, {'operation': 1}, down, up, {'operation', 'day'})
c2

       day  operation       amount
0        0          1   139.897339
1        1          1   119.069122
2        2          1   116.029465
3        3          1   117.953697
4        4          1   139.312607
42       0          1   139.897339
43       1          1  4981.971191
44       2          1   116.029465
45       3          1   117.953697
46       4          1   139.312607
84       0          1   139.897339
85       1          1   119.069122
86       2          1   116.029465
87       3          1   117.953697
88       4          1   139.312607
126      0          1   139.897339
127      1          1   119.069122
128      2          1   116.029465
129      3          1   117.953697
130      4          1   139.312607
168      0          1   139.897339
169      1          1   119.069122
170      2          1   116.029465
171      3          1   117.953697
172      4          1   139.312607
210      0          1   139.897339
211      1          1   119.069122
212      2          1   116.029465
213      3          1   117.953697
214      4          1   139.312607
...    ...        ...          ...
92568    0          1   139.897339
92569    1          1   119.069122
92570    2          1   116.029465
92571    3          1   117.953697
92572    4          1   139.312607
92610    0          1   583.439758
92611    1          1   119.069122
92612    2          1   116.029465
92613    3          1   117.953697
92614    4          1   139.312607
92652    0          1   139.897339
92653    1          1   119.069122
92654    2          1   116.029465
92655    3          1   117.953697
92656    4          1   139.312607
92694    0          1   139.897339
92695    1          1   119.069122
92696    2          1   116.029465
92697    3          1   117.953697
92698    4          1  5482.176270
92736    0          1   139.897339
92737    1          1   119.069122
92738    2          1   116.029465
92739    3          1   117.953697
92740    4          1   139.312607
92778    0          1   139.897339
92779    1          1   119.069122
92780    2          1   116.029465
92781    3          1   117.953697
92782    4          1   139.312607

[11050 rows x 3 columns]

In [98]:
%matplotlib inline

In [86]:
emd_samples(c1['operation'], c2['operation'])

0.0

In [91]:
emd_samples(c1['day'], c2['day'])

0.08715042071234783

In [88]:
emd_samples(c1['amount'], c2['amount'])

2833.5288092474375

In [41]:
def clean_df(df, attr_list):
    for attrs in attr_list:
        if len(attrs) > 1:
            continue
        f = pd.Series([True] * len(df), index=df.index)
        for attr, val in attrs.items():
            f = f & (df[attr] == val)
        df = df[~f]
    return df

In [79]:
synth_cleaned = clean_df(synth, attrs)

In [80]:
len(synth_cleaned)

0

In [81]:
len(synth)

92820